.pageHeader {
    text-align: left;
    font: 40px bold yellow;
}

.mainrep {
    text-align: left;
}

.img {
    margin: 2%;
}

.name {
    font: 30px bold;
}

.district {
    font: 20px;
}

.committee {
    display: flex;
    flex-direction: column;
}

.enactments {
    display: flex;
    border: none;
}
